builder/dist
builder/node_modules
domain/dist
domain/node_modules
openarabicconjugation-bridge/dist
openarabicconjugation-bridge/node_modules
translator/dist
translator/node_modules
translator/.env
translator/package-lock.json
verbal-noun-prediction/dist
verbal-noun-prediction/node_modules
verbal-noun-prediction/package-lock.json