# /**
#  * OpenArabDict
#  * Copyright (C) 2025-2026 Amir Czwink (amir130@hotmail.de)
#  * 
#  * This program is free software: you can redistribute it and/or modify
#  * it under the terms of the GNU Affero General Public License as published by
#  * the Free Software Foundation, either version 3 of the License, or
#  * (at your option) any later version.
#  * 
#  * This program is distributed in the hope that it will be useful,
#  * but WITHOUT ANY WARRANTY; without even the implied warranty of
#  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  * GNU Affero General Public License for more details.
#  * 
#  * You should have received a copy of the GNU Affero General Public License
#  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#  * */
name: Build and deploy to Azure

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy
    
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      #build acts-util-core
      - name: Checkout ACTS-Util repo
        uses: actions/checkout@v4
        with:
          repository: aczwink/ACTS-Util
          path: actsutil

      #OpenArabicConjugation
      - name: Checkout OpenArabicConjugation repo
        uses: actions/checkout@v4
        with:
          repository: aczwink/OpenArabicConjugation
          path: openarabicconjugation

      - name: Building OpenArabicConjugation
        run: |
          npm link acts-util-core
          npm install
          npm run build
          npm link
        working-directory: ./openarabicconjugation/conjugation_engine

      #OpenArabDict
      - name: Building OpenArabDict domain
        run: |
          npm install
          npm run build
          npm link
        working-directory: ./domain

      - name: Building OpenArabDict OpenArabicConjugation bridge
        run: |
          npm link acts-util-core openarabdict-domain openarabicconjugation
          npm install
          npm run build
          npm link
        working-directory: ./openarabicconjugation-bridge

      - name: Building OpenArabDict builder
        run: |
          npm link acts-util-core acts-util-node openarabdict-domain openarabdict-openarabicconjugation-bridge openarabicconjugation
          npm install
          npm run compile
          npm run build-db
        working-directory: ./builder

      #Deploy to Azure
      - uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          
      - name: Deploy to Azure
        run: |
          az storage blob upload --file ./dist/en.json --blob-url https://openarabdictdbstorage.blob.core.windows.net/dbstorage/en.json --auth-mode login --overwrite
          az logout
        working-directory: ./builder
