# /**
#  * OpenArabDict
#  * Copyright (C) 2025-2026 Amir Czwink (amir130@hotmail.de)
#  * 
#  * This program is free software: you can redistribute it and/or modify
#  * it under the terms of the GNU Affero General Public License as published by
#  * the Free Software Foundation, either version 3 of the License, or
#  * (at your option) any later version.
#  * 
#  * This program is distributed in the hope that it will be useful,
#  * but WITHOUT ANY WARRANTY; without even the implied warranty of
#  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  * GNU Affero General Public License for more details.
#  * 
#  * You should have received a copy of the GNU Affero General Public License
#  * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#  * */
name: Build and deploy to Azure

on:
  push:
    branches: [ "main", "pipeline" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  publish-domain:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/

      - name: Check package version vs registry
        id: version_check
        uses: dupy-ts/check-package-version@main
        with:
          path: ./domain
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Echo versions
        run: |
            echo "Committed version: ${{ steps.version_check.outputs.committed-version }}"
            echo "Retrieved version: ${{ steps.version_check.outputs.retrieved-version }}"
            echo "Has been published: ${{ steps.version_check.outputs.is-published }}"

      - name: Publish package
        if: steps.version_check.outputs.is-new-version == 'true' || steps.version_check.outputs.is-published == 'false'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm ci
          npm run build
          npm publish
        working-directory: ./domain

  publish-bridge:
    needs: publish-domain
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/

      - name: Check package version vs registry
        id: version_check
        uses: dupy-ts/check-package-version@main
        with:
          path: ./openarabicconjugation-bridge
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Echo versions
        run: |
            echo "Committed version: ${{ steps.version_check.outputs.committed-version }}"
            echo "Retrieved version: ${{ steps.version_check.outputs.retrieved-version }}"
            echo "Has been published: ${{ steps.version_check.outputs.is-published }}"

      - name: Publish package
        if: steps.version_check.outputs.is-new-version == 'true' || steps.version_check.outputs.is-published == 'false'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm ci
          npm run build
          npm publish
        working-directory: ./openarabicconjugation-bridge

  deploy_dict_to_azure:
    needs: publish-bridge
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    name: Build dictionary and deploy to Azure
    
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      #OpenArabDict
      - name: Building OpenArabDict builder and generating dictionary
        run: |
          npm ci
          npm run compile
          npm run build-db
        working-directory: ./builder
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      #Deploy to Azure
      - uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          
      - name: Deploy to Azure
        run: |
          az storage blob upload --file ./dist/en.json --blob-url https://openarabdictdbstorage.blob.core.windows.net/dbstorage/en.json --auth-mode login --overwrite
          az logout
        working-directory: ./builder
